{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
  <div class="col-md-offset-5">
    <h1>Categorías</h1>

      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for category in categories %}
            <tr>
              <td>{{ category.name }}</td>
              <td>
                <a href="{{ path('category_show', { 'id': category.id }) }}">Ver</a>
                <a href="{{ path('category_edit', { 'id': category.id }) }}">Editar</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    <a href="{{ path('category_new') }}">Crear categoría</a>
  </div>
</div>

{% endblock %}
