{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nueva categoría</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Crear categoría" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('category_index') }}">Volver al listado</a>
        </li>
    </ul>
{% endblock %}
