{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
  <div class="col-md-5 col-center">
    <img src="{{ asset('images/logo_bioparque.png') }}" alt='Logo del bioparque' style="margin-top: 30%">
    <img src="{{ asset('images/ciudad_verde.png') }}" alt='Logo ciudad verde' style="margin-top: 20%; margin-left: 20%;" >
  </div>
</div>
{% endblock %}

