{% extends "base.html.twig" %}

{% block title %} Iniciar sesión {% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-center">
        <h1 class="text-center">Iniciar sesión</h1>
        <br>
        <br>

        {% include "FOSUserBundle:Security:login_content.html.twig" %}
      </div>
    </div>
  </div>
{% endblock body %}