<div class="jumbotron" style="padding-top: 2%; padding-bottom: 1%;">
  <form action="{{ path('flsubspecie_index') }}" method="get">
    <div class="row">
      <div class="col-md-12">
        <label>Nombre subespecie</label>
        <input type="text" id="name" class="form-control" placeholder="Ingrese nombre subespecie" name="name">
      </div>
    </div>
    <div class="form-group mt-lg-3">
      <button id="button" type="submit" class="btn btn-info">Filtrar</button>
      <button id="buttonClear" type="submit" class="btn btn-info">Limpiar filtros</button>
    </div>
  </form>
</div>
