{% extends 'base.html.twig' %}

{% block title %} Nueva especie {% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-center">
        <h1 class="text-center">Nueva especie</h1>
        <br>
        <br>

        {{ form_start(form) }}
            {{ form_widget(form) }}
          
            <div class="text-center">
              <input type="submit" class="btn btn-success btn-md mt-lg-3" value="Crear especie" />
              <a class="btn btn-primary btn-md mt-lg-3 ml-md-1" href="{{ path('flspecie_index') }}">Volver al listado</a>
            </div>
        
        {{ form_end(form) }}

      </div>
    </div>
  </div>
{% endblock %}
